.card .list-group-item {
  color: red;
  font-size: 20px;
}
.card #divchamp {
  color: gold;
}
.card .btn-secondary {
  background-color: pale yellow;
  font-style: italic;
  font-weight: bold(light);
}
#redbar, #redbar2 {
  height: 0px;
  margin-bottom: 5%;
  border-bottom: solid 10px red;
}
#redbar2 {
  margin-top: 40%
}
